body {
    background: #fafafa;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#footer{
	margin-top: 0;
}

#row{
	margin: 0;
}
#modal1 h4{
		margin-top: 20px;
		margin-bottom: 80px;
	font-size: 70px;
	font-weight: 800;

}

#modal1 {
	text-align: center;

}
#modal1 img{
	padding-bottom: 40px;
}
#white {
    background-color: #fafafa;
    height: 80vh;
    width: 50%;
    margin: 0;
    padding: 0;
    color: white;
}
#grey {
    background-color: #1b1e25;
    height: 80vh;
    width: 50%;
    margin: 0;
    padding: 0;

    color: white;
}
#made img{
	width: 20vw;
}

#whiteText{
	margin-left: 20px;
	color: black;
	font-weight: 600;
}

#greyText{
	margin-right: 20px;
	text-align: right;
	margin-left: 20px;
	font-weight: 600;
}